{"openapi":"3.1.0","info":{"title":"PI API","version":"0.1.0"},"servers":[{"url":"https://api.primeintellect.ai"}],"paths":{"/api/v1/availability/":{"get":{"tags":["Availability"],"summary":"Get Legacygpu Availability","operationId":"get_legacygpu_availability_api_v1_availability__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"description":"Number of results per page","default":500,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"gpu_count","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Desired number of GPUs","title":"Gpu Count"},"description":"Desired number of GPUs"},{"name":"gpu_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUType"},{"type":"null"}],"description":"GPU model","title":"Gpu Type"},"description":"GPU model"},{"name":"socket","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUSocket"},{"type":"null"}],"description":"Socket for selected gpu model","title":"Socket"},"description":"Socket for selected gpu model"},{"name":"security","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SecurityType"},{"type":"null"}],"description":"Security type","title":"Security"},"description":"Security type"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"},{"name":"disks","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of disk IDs to filter instances by location","title":"Disks"},"description":"List of disk IDs to filter instances by location"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyAvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/clusters":{"get":{"tags":["Availability"],"summary":"Get Legacy Cluster Availability","operationId":"get_legacy_cluster_availability_api_v1_availability_clusters_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"description":"Number of results per page","default":500,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"gpu_count","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Desired number of GPUs","title":"Gpu Count"},"description":"Desired number of GPUs"},{"name":"gpu_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUType"},{"type":"null"}],"description":"GPU model","title":"Gpu Type"},"description":"GPU model"},{"name":"socket","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUSocket"},{"type":"null"}],"description":"Socket for selected gpu model","title":"Socket"},"description":"Socket for selected gpu model"},{"name":"security","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SecurityType"},{"type":"null"}],"description":"Security type","title":"Security"},"description":"Security type"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"},{"name":"disks","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of disk IDs to filter instances by location","title":"Disks"},"description":"List of disk IDs to filter instances by location"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyAvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/disks":{"get":{"tags":["Availability"],"summary":"Get Disks Availability","operationId":"get_disks_availability_api_v1_availability_disks_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of results per page","default":100,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiskAvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/gpu-summary":{"get":{"tags":["Availability"],"summary":"Get Gpu Summary","description":"Get GPU pricing summary data grouped by GPU type and instance count.","operationId":"get_gpu_summary_api_v1_availability_gpu_summary_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"additionalProperties":{"$ref":"#/components/schemas/InstanceCountPricing"},"type":"object"},"type":"object","title":"Response Get Gpu Summary Api V1 Availability Gpu Summary Get"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/availability/gpus":{"get":{"tags":["Availability"],"summary":"Get Gpu Availability","operationId":"get_gpu_availability_api_v1_availability_gpus_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of results per page","default":100,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"gpu_count","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Desired number of GPUs","title":"Gpu Count"},"description":"Desired number of GPUs"},{"name":"gpu_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUType"},{"type":"null"}],"description":"GPU model","title":"Gpu Type"},"description":"GPU model"},{"name":"socket","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUSocket"},{"type":"null"}],"description":"Socket for selected gpu model","title":"Socket"},"description":"Socket for selected gpu model"},{"name":"security","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SecurityType"},{"type":"null"}],"description":"Security type","title":"Security"},"description":"Security type"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"},{"name":"disks","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of disk IDs to filter instances by location","title":"Disks"},"description":"List of disk IDs to filter instances by location"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/multi-node":{"get":{"tags":["Availability"],"summary":"Get Multinode Availability","operationId":"get_multinode_availability_api_v1_availability_multi_node_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of results per page","default":100,"title":"Page Size"},"description":"Number of results per page"},{"name":"regions","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Regions"}},{"type":"null"}],"description":"List of regions to filter","title":"Regions"},"description":"List of regions to filter"},{"name":"gpu_count","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Desired number of GPUs","title":"Gpu Count"},"description":"Desired number of GPUs"},{"name":"gpu_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUType"},{"type":"null"}],"description":"GPU model","title":"Gpu Type"},"description":"GPU model"},{"name":"socket","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/GPUSocket"},{"type":"null"}],"description":"Socket for selected gpu model","title":"Socket"},"description":"Socket for selected gpu model"},{"name":"security","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SecurityType"},{"type":"null"}],"description":"Security type","title":"Security"},"description":"Security type"},{"name":"data_center_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by data center ID","title":"Data Center Id"},"description":"Filter by data center ID"},{"name":"cloud_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by cloud ID","title":"Cloud Id"},"description":"Filter by cloud ID"},{"name":"disks","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of disk IDs to filter instances by location","title":"Disks"},"description":"List of disk IDs to filter instances by location"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvailabilityResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/availability/multi-node-summary":{"get":{"tags":["Availability"],"summary":"Get Multinode Summary","description":"Get multi-node (cluster) pricing summary data grouped by GPU type and instance count.","operationId":"get_multinode_summary_api_v1_availability_multi_node_summary_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"additionalProperties":{"$ref":"#/components/schemas/InstanceCountPricing"},"type":"object"},"type":"object","title":"Response Get Multinode Summary Api V1 Availability Multi Node Summary Get"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/disks/":{"get":{"tags":["Disks"],"summary":"List Disks","operationId":"list_disks_api_v1_disks__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_List_APIDiskConfig__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Disks"],"summary":"Create Disk","operationId":"create_disk_api_v1_disks__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_create_disk_api_v1_disks__post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIDiskConfig"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/disks/{disk_id}":{"get":{"tags":["Disks"],"summary":"Get Disk","operationId":"get_disk_api_v1_disks__disk_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"disk_id","in":"path","required":true,"schema":{"type":"string","title":"Disk Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIDiskConfig"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Disks"],"summary":"Update Disk","operationId":"update_disk_api_v1_disks__disk_id__patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"disk_id","in":"path","required":true,"schema":{"type":"string","title":"Disk Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIDiskUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Disks"],"summary":"Delete Disk","operationId":"delete_disk_api_v1_disks__disk_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"disk_id","in":"path","required":true,"schema":{"type":"string","title":"Disk Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/evaluations/":{"post":{"tags":["evals"],"summary":"Create Evaluation","description":"Create a new evaluation\n\nThis endpoint supports:\n- Environment evaluations: Provide environments\n- Prime RL evaluations: Provide run_id\n- Suite evaluations: Provide suite_id\n\nOwnership:\n- If team_id is provided in request, the evaluation will be owned by the team\n- Otherwise, the evaluation will be owned by the authenticated user","operationId":"create_evaluation_api_v1_evaluations__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEvaluationRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["evals"],"summary":"List Evaluations","description":"Get a list of evaluations owned by the authenticated user or their teams\n\nBy default, returns all evaluations the user has access to (personal + all teams).","operationId":"list_evaluations_api_v1_evaluations__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by specific team ID","title":"Team Id"},"description":"Filter by specific team ID"},{"name":"environment_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by environment ID","title":"Environment Id"},"description":"Filter by environment ID"},{"name":"environment_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by environment name","title":"Environment Name"},"description":"Filter by environment name"},{"name":"suite_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by suite ID","title":"Suite Id"},"description":"Filter by suite ID"},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEvaluationsResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/evaluations/bulk-delete":{"post":{"tags":["evals"],"summary":"Bulk Delete Evaluations","operationId":"bulk_delete_evaluations_api_v1_evaluations_bulk_delete_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteEvaluationsRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteEvaluationsResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/evaluations/{evaluation_id}":{"put":{"tags":["evals"],"summary":"Update Evaluation","description":"Update an existing evaluation","operationId":"update_evaluation_api_v1_evaluations__evaluation_id__put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEvaluationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["evals"],"summary":"Get Evaluation","description":"Get detailed information about a specific evaluation.","operationId":"get_evaluation_api_v1_evaluations__evaluation_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["evals"],"summary":"Delete Evaluation","operationId":"delete_evaluation_api_v1_evaluations__evaluation_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/evaluations/{evaluation_id}/finalize":{"post":{"tags":["evals"],"summary":"Finalize Evaluation","description":"Mark an evaluation as complete and compute final statistics.","operationId":"finalize_evaluation_api_v1_evaluations__evaluation_id__finalize_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/FinalizeEvaluationRequest"},{"type":"null"}],"title":"Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizeEvaluationResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/evaluations/{evaluation_id}/samples":{"post":{"tags":["evals"],"summary":"Push Samples","description":"Push evaluation samples\n\nThis endpoint can be called multiple times to stream samples as they're generated.","operationId":"push_samples_api_v1_evaluations__evaluation_id__samples_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushSamplesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushSamplesResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["evals"],"summary":"Get Samples","description":"Get samples for a specific evaluation","operationId":"get_samples_api_v1_evaluations__evaluation_id__samples_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"evaluation_id","in":"path","required":true,"schema":{"type":"string","title":"Evaluation Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSamplesResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/frp/validate":{"post":{"tags":["FRP Plugin"],"summary":"Validate Frp Plugin","description":"Validate frpc client connections.\n\nThis endpoint is called by frps server plugin for:\n- Login: Validates tunnel token when client connects\n- NewProxy: Validates proxy creation requests\n\nThis endpoint is public but security is enforced via per-tunnel\ntoken validation. An attacker would need both a valid tunnel_id AND\nthe corresponding frp_token to get a successful response.","operationId":"validate_frp_plugin_api_v1_frp_validate_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FrpPluginRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FrpPluginResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/images":{"get":{"tags":["Images"],"summary":"List User Images","description":"List all images and builds accessible to the current user, including in-progress builds.","operationId":"list_user_images_api_v1_images_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"teamId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by team ID. If provided, returns only that team's images. If not provided, returns personal images + all team images the user has access to.","title":"Teamid"},"description":"Filter by team ID. If provided, returns only that team's images. If not provided, returns personal images + all team images the user has access to."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_List_ImageResponse__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n300 requests per 60 seconds per IP and token."}}},"/api/v1/images/build":{"post":{"tags":["Images"],"summary":"Initiate Image Build","description":"Initiate an image build process.\n\nReturns a presigned URL to upload the build context (tar.gz file).\nAfter uploading, call /images/build/{build_id}/start to begin the build.","operationId":"initiate_image_build_api_v1_images_build_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildImageRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildImageResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}],"x-mint":{"content":"## Rate Limit\n\n50 requests per 60 seconds per IP and token."}}},"/api/v1/images/build/{build_id}":{"get":{"tags":["Images"],"summary":"Get Build Status","description":"Get the status of an image build.","operationId":"get_build_status_api_v1_images_build__build_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"build_id","in":"path","required":true,"schema":{"type":"string","title":"Build Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildStatusResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/images/build/{build_id}/start":{"post":{"tags":["Images"],"summary":"Start Image Build","description":"Start the image build process after uploading the build context.\n\nThis creates a sandbox with Docker-in-Docker to build and push the image.","operationId":"start_image_build_api_v1_images_build__build_id__start_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"build_id","in":"path","required":true,"schema":{"type":"string","title":"Build Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartBuildRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildStatusResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/images/builds":{"get":{"tags":["Images"],"summary":"List Image Builds","description":"List all image builds for the current user.","operationId":"list_image_builds_api_v1_images_builds_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_List_BuildStatusResponse__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/images/{image_name}/{image_tag}":{"delete":{"tags":["Images"],"summary":"Delete User Image","description":"Delete a user image from the database and Google Artifact Registry.\n\nFor team images, only the image creator or team admins can delete.","operationId":"delete_user_image_api_v1_images__image_name___image_tag__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"image_name","in":"path","required":true,"schema":{"type":"string","title":"Image Name"}},{"name":"image_tag","in":"path","required":true,"schema":{"type":"string","title":"Image Tag"}},{"name":"teamId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Team ID if deleting a team image","title":"Teamid"},"description":"Team ID if deleting a team image"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteImageResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n100 requests per 60 seconds per IP and token."}}},"/api/v1/pods/":{"get":{"tags":["Pods"],"summary":"Get Pods","operationId":"get_pods_api_v1_pods__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_List_APIPodConfig__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Pods"],"summary":"Create Pod","operationId":"create_pod_api_v1_pods__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_create_pod_api_v1_pods__post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIPodConfig"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/pods/history":{"get":{"tags":["Pods"],"summary":"Get Pods History","operationId":"get_pods_history_api_v1_pods_history_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sort_by","in":"query","required":false,"schema":{"enum":["terminatedAt","createdAt"],"type":"string","default":"terminatedAt","title":"Sort By"}},{"name":"sort_order","in":"query","required":false,"schema":{"enum":["asc","desc"],"type":"string","default":"desc","title":"Sort Order"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_List_HistoryObj__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/pods/status":{"get":{"tags":["Pods"],"summary":"Get Pods Status","operationId":"get_pods_status_api_v1_pods_status_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"pod_ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"description":"List of pod ids","default":[],"title":"Pod Ids"},"description":"List of pod ids"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_List_APIPodStatusResponse__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/pods/{pod_id}":{"get":{"tags":["Pods"],"summary":"Get Pod","operationId":"get_pod_api_v1_pods__pod_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"pod_id","in":"path","required":true,"schema":{"type":"string","title":"Pod Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIPodConfig"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Pods"],"summary":"Delete Pod","operationId":"delete_pod_api_v1_pods__pod_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"pod_id","in":"path","required":true,"schema":{"type":"string","title":"Pod Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIDeletePodResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/pods/{pod_id}/log":{"get":{"tags":["Pods"],"summary":"Get Pod Logs Api","description":"Get logs for a pod.\n\nArgs:\n    tail: Number of most recent logs to return (default: 100)","operationId":"get_pod_logs_api_api_v1_pods__pod_id__log_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"pod_id","in":"path","required":true,"schema":{"type":"string","title":"Pod Id"}},{"name":"tail","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Tail"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/sandbox":{"post":{"tags":["Sandbox"],"summary":"Create Sandbox Endpoint","description":"Create a new code sandbox","operationId":"create_sandbox_endpoint_api_v1_sandbox_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSandboxRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n500 requests per 60 seconds per IP and token."}},"get":{"tags":["Sandbox"],"summary":"List Sandboxes","description":"List sandboxes for user or team","operationId":"list_sandboxes_api_v1_sandbox_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by team ID","title":"Team Id"},"description":"Filter by team ID"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SandboxStatus"},{"type":"null"}],"description":"Filter by status","title":"Status"},"description":"Filter by status"},{"name":"is_active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter to exclude terminated sandboxes when True","title":"Is Active"},"description":"Filter to exclude terminated sandboxes when True"},{"name":"labels","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by labels (sandboxes must have ALL specified labels)","title":"Labels"},"description":"Filter by labels (sandboxes must have ALL specified labels)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Items per page","default":50,"title":"Per Page"},"description":"Items per page"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxListResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n1000 requests per 60 seconds per IP and token."}},"delete":{"tags":["Sandbox"],"summary":"Bulk Delete Sandboxes Endpoint","description":"Bulk delete multiple sandboxes by IDs or labels","operationId":"bulk_delete_sandboxes_endpoint_api_v1_sandbox_delete","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteSandboxRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteSandboxResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n50 requests per 60 seconds per IP and token."}}},"/api/v1/sandbox/expose/all":{"get":{"tags":["Sandbox"],"summary":"List All Exposed Ports Endpoint","description":"List all exposed ports across all sandboxes for the current user","operationId":"list_all_exposed_ports_endpoint_api_v1_sandbox_expose_all_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListExposedPortsResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}],"x-mint":{"content":"## Rate Limit\n\n60 requests per 60 seconds per IP and token."}}},"/api/v1/sandbox/{sandbox_id}":{"get":{"tags":["Sandbox"],"summary":"Get Sandbox Endpoint","description":"Get a specific sandbox by ID","operationId":"get_sandbox_endpoint_api_v1_sandbox__sandbox_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n300 requests per 60 seconds per IP and token per sandbox."}},"delete":{"tags":["Sandbox"],"summary":"Delete Sandbox Endpoint","description":"Delete a sandbox","operationId":"delete_sandbox_endpoint_api_v1_sandbox__sandbox_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSandboxResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n500 requests per 60 seconds per IP and token."}}},"/api/v1/sandbox/{sandbox_id}/auth":{"post":{"tags":["Sandbox"],"summary":"Get Sandbox Auth Token","description":"Get JWT token for direct sandbox access","operationId":"get_sandbox_auth_token_api_v1_sandbox__sandbox_id__auth_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxAuthResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n120 requests per 60 seconds per IP and token per sandbox."}}},"/api/v1/sandbox/{sandbox_id}/error-context":{"get":{"tags":["Sandbox"],"summary":"Get Sandbox Error Context Endpoint","description":"Get error context for a sandbox (optimized for SDK error handling flows)","operationId":"get_sandbox_error_context_endpoint_api_v1_sandbox__sandbox_id__error_context_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxErrorContextResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n600 requests per 60 seconds per IP and token per sandbox."}}},"/api/v1/sandbox/{sandbox_id}/expose":{"post":{"tags":["Sandbox"],"summary":"Expose Port Endpoint","description":"Expose a port from a sandbox","operationId":"expose_port_endpoint_api_v1_sandbox__sandbox_id__expose_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExposePortRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExposePortResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n20 requests per 60 seconds per IP and token per sandbox."}},"get":{"tags":["Sandbox"],"summary":"List Exposed Ports Endpoint","description":"List all exposed ports for a sandbox","operationId":"list_exposed_ports_endpoint_api_v1_sandbox__sandbox_id__expose_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListExposedPortsResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n60 requests per 60 seconds per IP and token per sandbox."}}},"/api/v1/sandbox/{sandbox_id}/expose/{exposure_id}":{"delete":{"tags":["Sandbox"],"summary":"Unexpose Port Endpoint","description":"Unexpose a previously exposed port","operationId":"unexpose_port_endpoint_api_v1_sandbox__sandbox_id__expose__exposure_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}},{"name":"exposure_id","in":"path","required":true,"schema":{"type":"string","title":"Exposure Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnexposePortResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n20 requests per 60 seconds per IP and token per sandbox."}}},"/api/v1/sandbox/{sandbox_id}/logs":{"get":{"tags":["Sandbox"],"summary":"Get Sandbox Logs Endpoint","description":"Get sandbox logs","operationId":"get_sandbox_logs_endpoint_api_v1_sandbox__sandbox_id__logs_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxLogsResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n300 requests per 60 seconds per IP and token per sandbox."}}},"/api/v1/sandbox/{sandbox_id}/ssh-session":{"post":{"tags":["Sandbox"],"summary":"Create Ssh Session Endpoint","description":"Create an SSH session using the SSH sidecar (no sshd required in the sandbox image).","operationId":"create_ssh_session_endpoint_api_v1_sandbox__sandbox_id__ssh_session_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSSHSessionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SSHSessionResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n20 requests per 60 seconds per IP and token per sandbox."}}},"/api/v1/sandbox/{sandbox_id}/ssh-session/{session_id}":{"delete":{"tags":["Sandbox"],"summary":"Close Ssh Session Endpoint","description":"Close an SSH session (removes the TCP exposure).","operationId":"close_ssh_session_endpoint_api_v1_sandbox__sandbox_id__ssh_session__session_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sandbox_id","in":"path","required":true,"schema":{"type":"string","title":"Sandbox Id"}},{"name":"session_id","in":"path","required":true,"schema":{"type":"string","title":"Session Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnexposePortResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n20 requests per 60 seconds per IP and token per sandbox."}}},"/api/v1/secrets/":{"get":{"tags":["Secrets"],"summary":"List Secrets","description":"List global secrets for the authenticated user or a team.\n\nIf teamId is provided, returns secrets for that team (requires team membership).\nOtherwise, returns the user's personal secrets.","operationId":"list_secrets_api_v1_secrets__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"teamId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by team ID","title":"Teamid"},"description":"Filter by team ID"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_List_SecretResponse__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Secrets"],"summary":"Create Secret","description":"Create a new global secret.\n\nThe secret will be encrypted and stored securely. If teamId is provided,\nthe secret will be associated with that team (requires team membership).","operationId":"create_secret_api_v1_secrets__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretCreateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_SecretResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/secrets/{secret_id}":{"get":{"tags":["Secrets"],"summary":"Get Secret","description":"Get a specific secret by ID.\n\nNote: The secret value is not returned, only metadata.","operationId":"get_secret_api_v1_secrets__secret_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"secret_id","in":"path","required":true,"schema":{"type":"string","title":"Secret Id"}},{"name":"teamId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Team ID for team secrets","title":"Teamid"},"description":"Team ID for team secrets"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_SecretResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Secrets"],"summary":"Update Secret","description":"Update an existing secret.\n\nYou can update the name, value, and/or description.","operationId":"update_secret_api_v1_secrets__secret_id__patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"secret_id","in":"path","required":true,"schema":{"type":"string","title":"Secret Id"}},{"name":"teamId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Team ID for team secrets","title":"Teamid"},"description":"Team ID for team secrets"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_SecretResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Secrets"],"summary":"Delete Secret","description":"Delete a secret.\n\nThis operation cannot be undone. Secrets that are linked to environments\nwill be automatically unlinked.","operationId":"delete_secret_api_v1_secrets__secret_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"secret_id","in":"path","required":true,"schema":{"type":"string","title":"Secret Id"}},{"name":"teamId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Team ID for team secrets","title":"Teamid"},"description":"Team ID for team secrets"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/ssh_keys/":{"get":{"tags":["SSH Keys"],"summary":"Get Ssh Keys","operationId":"get_ssh_keys_api_v1_ssh_keys__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericPaginationResponse_List_APISSHKeyConfig__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["SSH Keys"],"summary":"Upload Ssh Key","operationId":"upload_ssh_key_api_v1_ssh_keys__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/APISSHKeyUploadRequestConfig"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APISSHKeyConfig"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/ssh_keys/{key_id}":{"delete":{"tags":["SSH Keys"],"summary":"Delete Ssh Key","operationId":"delete_ssh_key_api_v1_ssh_keys__key_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","title":"Key Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["SSH Keys"],"summary":"Set Primary Key","operationId":"set_primary_key_api_v1_ssh_keys__key_id__patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","title":"Key Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/APISSHKeyUpdateRequestConfig"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APISSHKeyUpdateResponseConfig"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/template/check-docker-image":{"post":{"tags":["Template"],"summary":"Check Docker Image","description":"Check whether a docker image is accessible (optionally with registry credentials).","operationId":"check_docker_image_api_v1_template_check_docker_image_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DockerImageCheckRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/template/registry-credentials":{"get":{"tags":["Template"],"summary":"List Registry Credentials","description":"List registry credentials owned by the requesting user or their teams.","operationId":"list_registry_credentials_api_v1_template_registry_credentials_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryCredentialsListResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/tunnel":{"post":{"tags":["Tunnel"],"summary":"Create Tunnel Endpoint","description":"Create a new tunnel for exposing a local service.","operationId":"create_tunnel_endpoint_api_v1_tunnel_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTunnelRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TunnelResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n100 requests per 60 seconds per user."}},"get":{"tags":["Tunnel"],"summary":"List Tunnels Endpoint","description":"List all active tunnels for the current user.","operationId":"list_tunnels_endpoint_api_v1_tunnel_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"teamId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Teamid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TunnelListResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n300 requests per 60 seconds per user."}},"delete":{"tags":["Tunnel"],"summary":"Bulk Delete Tunnels Endpoint","description":"Bulk delete multiple tunnels by IDs.","operationId":"bulk_delete_tunnels_endpoint_api_v1_tunnel_delete","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteTunnelRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteTunnelResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n100 requests per 60 seconds per user."}}},"/api/v1/tunnel/{tunnel_id}":{"get":{"tags":["Tunnel"],"summary":"Get Tunnel Status Endpoint","description":"Get status of a specific tunnel.","operationId":"get_tunnel_status_endpoint_api_v1_tunnel__tunnel_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tunnel_id","in":"path","required":true,"schema":{"type":"string","title":"Tunnel Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TunnelStatusResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n300 requests per 60 seconds per tunnel."}},"delete":{"tags":["Tunnel"],"summary":"Delete Tunnel Endpoint","description":"Delete a tunnel and disconnect any active clients.","operationId":"delete_tunnel_endpoint_api_v1_tunnel__tunnel_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"tunnel_id","in":"path","required":true,"schema":{"type":"string","title":"Tunnel Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTunnelResponse"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-mint":{"content":"## Rate Limit\n\n100 requests per 60 seconds per user."}}},"/api/v1/user/slug":{"patch":{"tags":["user"],"summary":"Set Username Slug","operationId":"set_username_slug_api_v1_user_slug_patch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSlugUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_User_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/user/teams":{"get":{"tags":["user"],"summary":"List My Teams","operationId":"list_my_teams_api_v1_user_teams_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_List_TeamSummary__"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/user/whoami":{"get":{"tags":["user"],"summary":"Get Whoami","operationId":"get_whoami_api_v1_user_whoami_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse_WhoamiResponse_"}}}},"401":{"description":"Authorization failed"},"422":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}}},"components":{"schemas":{"APIDeletePodResponse":{"properties":{"status":{"$ref":"#/components/schemas/PodStatusEnum","examples":["TERMINATED"]}},"type":"object","required":["status"],"title":"APIDeletePodResponse"},"APIDiskConfig":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the disk, generated as a UUID."},"name":{"type":"string","maxLength":255,"title":"Name","description":"Name of the disk."},"createdAt":{"type":"string","format":"date-time","title":"Createdat","description":"Timestamp when the disk was created."},"updatedAt":{"type":"string","format":"date-time","title":"Updatedat","description":"Timestamp when the disk was last updated."},"terminatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Terminatedat","description":"Timestamp when the disk was terminated."},"status":{"$ref":"#/components/schemas/DiskStatusEnum","description":"Current status of the disk.","default":"PROVISIONING"},"providerType":{"$ref":"#/components/schemas/ProviderTypeEnum","description":"Type of provider associated with the disk."},"size":{"type":"integer","title":"Size","description":"Size of the disk in GB.","default":0},"info":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Info","description":"JSON field for additional information about the disk."},"priceHr":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pricehr","description":"Hourly price for using the disk."},"stoppedPriceHr":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Stoppedpricehr","description":"Hourly price when the disk is stopped."},"provisioningPriceHr":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Provisioningpricehr","description":"Hourly price during provisioning.","default":0.0},"userId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Userid","description":"ID of the user associated with this disk."},"teamId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Teamid","description":"ID of the team owning this disk."},"walletId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Walletid","description":"ID of the wallet associated with this disk."},"pods":{"items":{"type":"string"},"type":"array","title":"Pods","description":"Pods attached to the disk.","default":[]},"clusters":{"items":{"type":"string"},"type":"array","title":"Clusters","description":"Clusters attached to the disk.","default":[]}},"type":"object","required":["name","providerType","userId"],"title":"APIDiskConfig"},"APIDiskCreateRequest":{"properties":{"size":{"type":"integer","exclusiveMinimum":0.0,"title":"Size","description":"Size of the disk in GB."},"name":{"type":"string","maxLength":255,"title":"Name","description":"Optional name for the disk."},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country","description":"Location country."},"cloudId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cloudid","description":"Cloud ID."},"dataCenterId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Datacenterid","description":"Data center ID."}},"additionalProperties":false,"type":"object","required":["size"],"title":"APIDiskCreateRequest"},"APIDiskUpdateRequest":{"properties":{"name":{"type":"string","title":"Name","description":"New human-friendly name for the disk."}},"type":"object","required":["name"],"title":"APIDiskUpdateRequest"},"APIPodConfig":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the pod, generated as a UUID."},"userId":{"type":"string","title":"Userid","description":"ID of the user associated with this pod, if applicable."},"teamId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Teamid","description":"ID of the team owning this pod, if applicable."},"walletId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Walletid","description":"ID of the wallet associated with this pod for billing or resource tracking."},"name":{"type":"string","title":"Name","description":"Name of the pod."},"type":{"$ref":"#/components/schemas/PodTypeEnum","description":"Type of the pod, based on PodTypeEnum.","default":"HOSTED","deprecated":true},"providerType":{"$ref":"#/components/schemas/ProviderTypeEnum","description":"Type of provider associated with the pod, based on ProviderTypeEnum."},"status":{"$ref":"#/components/schemas/PodStatusEnum","description":"Current status of the pod, based on PodStatusEnum.","default":"PROVISIONING"},"installationStatus":{"$ref":"#/components/schemas/InstallationStatusEnum","description":"Installation status of the pod, based on InstallationStatusEnum.","default":"PENDING"},"installationFailure":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Installationfailure","description":"Details about any installation failures that occurred, if applicable."},"installationProgress":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Installationprogress","description":"Percentage of the installation process completed."},"createdAt":{"type":"string","format":"date-time","title":"Createdat","description":"Timestamp when the pod was created."},"updatedAt":{"type":"string","format":"date-time","title":"Updatedat","description":"Timestamp when the pod was last updated."},"terminatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Terminatedat","description":"Timestamp when the pod was terminated."},"gpuName":{"$ref":"#/components/schemas/GPUType","description":"Model of the GPU allocated."},"gpuCount":{"type":"integer","title":"Gpucount","description":"Number of GPUs allocated to the node.","examples":[1]},"socket":{"$ref":"#/components/schemas/GPUSocket","description":"Type of socket used by the GPU."},"priceHr":{"type":"number","title":"Pricehr","description":"Hourly price for running the pod.","examples":[1.23]},"stoppedPriceHr":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Stoppedpricehr","description":"Hourly price when the pod is stopped. If empty then `priceHr` is used.","examples":[0.005]},"provisioningPriceHr":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Provisioningpricehr","description":"Hourly price during the provisioning process. If empty then `priceHr` is used.","default":0.0},"environmentType":{"$ref":"#/components/schemas/EnvironmentTypeEnum","description":"Type of image selected for the pod.","default":"ubuntu_22_cuda_12"},"customTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Customtemplateid","description":"ID of the custom template applied to the pod, if applicable."},"clusterId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Clusterid","description":"ID of the cluster to which the pod belongs."},"primePortMapping":{"anyOf":[{"items":{"$ref":"#/components/schemas/PortMapping"},"type":"array"},{"type":"null"}],"title":"Primeportmapping","description":"Port mapping.","default":[]},"sshConnection":{"anyOf":[{"type":"string"},{"items":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":"array"},{"type":"null"}],"title":"Sshconnection","description":"SSH connection/connections details."},"ip":{"anyOf":[{"type":"string"},{"items":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":"array"},{"type":"null"}],"title":"Ip","description":"IP address/addresses of the instance."},"resources":{"anyOf":[{"$ref":"#/components/schemas/InstanceResources"},{"type":"null"}],"description":"Instance resources."},"attachedResources":{"anyOf":[{"items":{"$ref":"#/components/schemas/AttachedResources"},"type":"array"},{"type":"null"}],"title":"Attachedresources","description":"Instance attached resources.","default":[]},"isSpot":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Isspot","description":"Whether the instance is spot."},"autoRestart":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Autorestart","description":"Automatically restart the instance."}},"type":"object","required":["userId","name","providerType","gpuName","gpuCount","socket","priceHr"],"title":"APIPodConfig"},"APIPodStatusResponse":{"properties":{"podId":{"type":"string","title":"Podid","description":"Unique identifier for the pod."},"providerType":{"$ref":"#/components/schemas/ProviderTypeEnum","description":"ID of the provider."},"status":{"$ref":"#/components/schemas/PodStatusEnum","description":"Current status of the pod."},"sshConnection":{"anyOf":[{"type":"string"},{"items":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":"array"},{"type":"null"}],"title":"Sshconnection","description":"SSH connection details for the pod, which may be a string or list of strings (if there are multiple nodes).","examples":["root@135.23.125.123 -p 22"]},"ip":{"anyOf":[{"type":"string"},{"items":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":"array"},{"type":"null"}],"title":"Ip","description":"IP address or list (if there are multiple nodes) of IP addresses associated with the pod.","examples":["135.23.125.123"]},"installationStatus":{"anyOf":[{"$ref":"#/components/schemas/InstallationStatusEnum"},{"type":"null"}],"description":"Installation status of the pod, based on InstallationStatusEnum."},"installationFailure":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Installationfailure","description":"Details about any installation failures that occurred, if applicable."},"installationProgress":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Installationprogress","description":"Percentage of the installation process that has been completed, if available."}},"type":"object","required":["podId","providerType","status"],"title":"APIPodStatusResponse"},"APISSHKeyConfig":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the SSH key."},"userId":{"type":"string","title":"Userid","description":"ID of the user associated with this pod, if applicable."},"name":{"type":"string","title":"Name","description":"Name of the SSH key."},"publicKey":{"type":"string","title":"Publickey","description":"The public key part of the SSH key."},"isPrimary":{"type":"boolean","title":"Isprimary","description":"Whether this SSH key is the primary key."},"isUserKey":{"type":"boolean","title":"Isuserkey","description":"Whether this a custom key uploaded by the user."},"createdAt":{"type":"string","format":"date-time","title":"Createdat","description":"Timestamp when the SSH key was added."},"updatedAt":{"type":"string","format":"date-time","title":"Updatedat","description":"Timestamp when the SSH key was last updated."}},"type":"object","required":["id","userId","name","publicKey","isPrimary","isUserKey"],"title":"APISSHKeyConfig"},"APISSHKeyUpdateRequestConfig":{"properties":{"isPrimary":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Isprimary","description":"Whether to set the key as the primary key. Must be true when provided."}},"type":"object","title":"APISSHKeyUpdateRequestConfig"},"APISSHKeyUpdateResponseConfig":{"properties":{"message":{"type":"string","title":"Message"},"updated_fields":{"type":"object","title":"Updated Fields"}},"type":"object","required":["message","updated_fields"],"title":"APISSHKeyUpdateResponseConfig"},"APISSHKeyUploadRequestConfig":{"properties":{"name":{"type":"string","title":"Name","description":"The name for the key."},"publicKey":{"type":"string","title":"Publickey","description":"The public key part of the SSH key."}},"type":"object","required":["name","publicKey"],"title":"APISSHKeyUploadRequestConfig"},"AdvancedConfigs":{"properties":{},"additionalProperties":true,"type":"object","title":"AdvancedConfigs"},"AttachableResourceStatus":{"type":"string","enum":["UNATTACHED","ATTACHED","MOUNTED"],"title":"AttachableResourceStatus"},"AttachableResourceType":{"type":"string","enum":["DISK"],"const":"DISK","title":"AttachableResourceType"},"AttachedResources":{"properties":{"resourceType":{"$ref":"#/components/schemas/AttachableResourceType","description":"Type of resource.","examples":["DISK"]},"id":{"anyOf":[{"type":"string"},{"type":"integer"}],"title":"Id","description":"Unique identifier for the resource."},"status":{"$ref":"#/components/schemas/AttachableResourceStatus","description":"Resource status.","default":"UNATTACHED"},"isDetachable":{"type":"boolean","title":"Isdetachable","description":"Whether the resource is detachable.","default":true},"mountPath":{"type":"string","title":"Mountpath","description":"Path to the mount point.","default":"/workspace"},"resourcePath":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Resourcepath","description":"Path to the resource."},"size":{"anyOf":[{"type":"string"},{"type":"integer"},{"type":"null"}],"title":"Size","description":"Size of the resource."},"isShared":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Isshared","description":"Whether the resource is shared.","default":false}},"type":"object","required":["resourceType","id"],"title":"AttachedResources"},"AvailabilityResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/GpuAvailability"},"type":"array","title":"Items","description":"List of available GPU configurations"},"totalCount":{"type":"integer","title":"Totalcount","description":"Total number of matching GPU configurations"}},"type":"object","required":["items","totalCount"],"title":"AvailabilityResponse"},"Body_create_disk_api_v1_disks__post":{"properties":{"disk":{"$ref":"#/components/schemas/APIDiskCreateRequest"},"provider":{"$ref":"#/components/schemas/ProviderConfig"},"team":{"anyOf":[{"$ref":"#/components/schemas/TeamConfig"},{"type":"null"}]}},"type":"object","required":["disk","provider"],"title":"Body_create_disk_api_v1_disks__post"},"Body_create_pod_api_v1_pods__post":{"properties":{"pod":{"$ref":"#/components/schemas/PodRequestConfig"},"provider":{"$ref":"#/components/schemas/ProviderConfig"},"disks":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Disks"},"team":{"anyOf":[{"$ref":"#/components/schemas/TeamConfig"},{"type":"null"}]},"team_member_ids":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Team Member Ids"},"shared_with_team":{"type":"boolean","title":"Shared With Team","default":false}},"type":"object","required":["pod","provider"],"title":"Body_create_pod_api_v1_pods__post"},"BuildImageRequest":{"properties":{"image_name":{"type":"string","title":"Image Name","description":"Image name (e.g., 'myapp')"},"image_tag":{"type":"string","title":"Image Tag","description":"Image tag (e.g., 'v1.0.0')"},"dockerfile_path":{"type":"string","title":"Dockerfile Path","description":"Path to Dockerfile within build context","default":"Dockerfile"},"platform":{"type":"string","enum":["linux/amd64","linux/arm64"],"title":"Platform","description":"Target platform (linux/amd64 or linux/arm64)","default":"linux/amd64"},"teamId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Teamid","description":"Team ID if building image in team context"}},"type":"object","required":["image_name","image_tag"],"title":"BuildImageRequest","description":"Request model for building an image."},"BuildImageResponse":{"properties":{"build_id":{"type":"string","title":"Build Id","description":"Build ID for tracking"},"upload_url":{"type":"string","title":"Upload Url","description":"Presigned URL to upload build context (tar.gz)"},"expires_in":{"type":"integer","title":"Expires In","description":"URL validity in seconds"},"fullImagePath":{"type":"string","title":"Fullimagepath","description":"Full image path with user ID"}},"type":"object","required":["build_id","upload_url","expires_in","fullImagePath"],"title":"BuildImageResponse","description":"Response model for initiating image build."},"BuildStatusResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the build"},"imageName":{"type":"string","title":"Imagename","description":"Name of the image being built"},"imageTag":{"type":"string","title":"Imagetag","description":"Tag of the image being built"},"status":{"$ref":"#/components/schemas/ImageBuildStatusEnum","description":"Current build status"},"fullImagePath":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fullimagepath","description":"Full registry path to the image"},"errorMessage":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Errormessage","description":"Error message if build failed"},"createdAt":{"type":"string","format":"date-time","title":"Createdat","description":"Timestamp when the build was created"},"startedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Startedat","description":"Timestamp when the build started"},"completedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Completedat","description":"Timestamp when the build completed"}},"type":"object","required":["id","imageName","imageTag","status","createdAt"],"title":"BuildStatusResponse","description":"Response model for build status."},"BulkDeleteEvaluationsRequest":{"properties":{"evaluation_ids":{"items":{"type":"string"},"type":"array","maxItems":100,"minItems":1,"title":"Evaluation Ids"}},"type":"object","required":["evaluation_ids"],"title":"BulkDeleteEvaluationsRequest"},"BulkDeleteEvaluationsResponse":{"properties":{"success_count":{"type":"integer","title":"Success Count","description":"Number of evaluations successfully deleted"},"failure_count":{"type":"integer","title":"Failure Count","description":"Number of evaluations that failed to delete"},"successful_ids":{"items":{"type":"string"},"type":"array","title":"Successful Ids","description":"IDs of successfully deleted evaluations"},"failed_ids":{"items":{"type":"string"},"type":"array","title":"Failed Ids","description":"IDs of evaluations that failed to delete"}},"type":"object","required":["success_count","failure_count","successful_ids","failed_ids"],"title":"BulkDeleteEvaluationsResponse"},"BulkDeleteSandboxRequest":{"properties":{"sandbox_ids":{"anyOf":[{"items":{"type":"string"},"type":"array","maxItems":500,"minItems":1},{"type":"null"}],"title":"Sandbox Ids","description":"List of sandbox IDs to delete"},"labels":{"anyOf":[{"items":{"type":"string"},"type":"array","maxItems":50,"minItems":1},{"type":"null"}],"title":"Labels","description":"List of labels - delete all sandboxes with ALL these labels"}},"type":"object","title":"BulkDeleteSandboxRequest"},"BulkDeleteSandboxResponse":{"properties":{"succeeded":{"items":{"type":"string"},"type":"array","title":"Succeeded","description":"List of successfully deleted sandbox IDs"},"failed":{"items":{"additionalProperties":{"type":"string"},"type":"object"},"type":"array","title":"Failed","description":"List of failed deletions with error messages"},"message":{"type":"string","title":"Message"}},"type":"object","required":["message"],"title":"BulkDeleteSandboxResponse"},"BulkDeleteTunnelRequest":{"properties":{"tunnel_ids":{"items":{"type":"string"},"type":"array","maxItems":500,"minItems":1,"title":"Tunnel Ids","description":"List of tunnel IDs to delete"}},"type":"object","required":["tunnel_ids"],"title":"BulkDeleteTunnelRequest","description":"Request to bulk delete tunnels."},"BulkDeleteTunnelResponse":{"properties":{"succeeded":{"items":{"type":"string"},"type":"array","title":"Succeeded","description":"Successfully deleted tunnel IDs"},"failed":{"items":{"additionalProperties":{"type":"string"},"type":"object"},"type":"array","title":"Failed","description":"Failed deletions with error messages"},"message":{"type":"string","title":"Message","description":"Summary message"}},"type":"object","required":["message"],"title":"BulkDeleteTunnelResponse","description":"Response for bulk tunnel deletion."},"CreateEvaluationRequest":{"properties":{"name":{"type":"string","title":"Name","description":"Name of the evaluation"},"team_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Team Id","description":"Team ID if creating evaluation for a team"},"environments":{"anyOf":[{"items":{"$ref":"#/components/schemas/EnvironmentReference"},"type":"array"},{"type":"null"}],"title":"Environments","description":"List of environment references with optional version IDs"},"suite_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Suite Id","description":"Suite ID if this evaluation is part of a suite"},"run_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Run Id","description":"Run ID for Prime RL runs (optional)"},"is_hosted":{"type":"boolean","title":"Is Hosted","description":"Whether this is a hosted evaluation","default":false},"inference_model":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Inference Model","description":"Prime Inference model ID"},"eval_config":{"anyOf":[{"$ref":"#/components/schemas/HostedEvalConfig"},{"type":"null"}],"description":"Hosted evaluation configuration"},"model_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Model Name","description":"Model name"},"dataset":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Dataset","description":"Dataset name"},"framework":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Framework","description":"Framework used (e.g., 'prime-rl', 'openai/evals')"},"task_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Task Type","description":"Type of task (e.g., 'classification', 'generation')"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Description of the evaluation"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"Tags for categorization","default":[]},"metadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Metadata","description":"Additional metadata"},"metrics":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Metrics","description":"High-level metrics summary"},"is_public":{"type":"boolean","title":"Is Public","description":"Whether this evaluation is publicly visible on environment pages","default":false}},"type":"object","required":["name"],"title":"CreateEvaluationRequest","description":"Request to create a new evaluation"},"CreateEvaluationResponse":{"properties":{"evaluation_id":{"type":"string","title":"Evaluation Id","description":"ID of the created evaluation"},"name":{"type":"string","title":"Name"},"status":{"$ref":"#/components/schemas/EvaluationStatus"},"eval_type":{"$ref":"#/components/schemas/EvaluationType","description":"Type: 'prime_rl', 'environment', or 'suite'"},"environment_ids":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Environment Ids"},"suite_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Suite Id"},"run_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Run Id"},"version_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Version Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["evaluation_id","name","status","eval_type","created_at"],"title":"CreateEvaluationResponse","description":"Response after creating an evaluation"},"CreateSSHSessionRequest":{"properties":{"ttl_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Ttl Seconds","description":"Optional TTL for the SSH session in seconds (max 3600). Defaults to 900."}},"type":"object","title":"CreateSSHSessionRequest"},"CreateSandboxRequest":{"properties":{"name":{"type":"string","maxLength":100,"minLength":1,"title":"Name","description":"Sandbox name"},"docker_image":{"type":"string","minLength":1,"title":"Docker Image","description":"Docker image to run"},"start_command":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Start Command","description":"Command to run in container"},"cpu_cores":{"type":"number","maximum":16.0,"minimum":0.1,"title":"Cpu Cores","description":"CPU cores required","default":1.0},"memory_gb":{"type":"number","maximum":64.0,"minimum":0.1,"title":"Memory Gb","description":"Memory in GB","default":2.0},"disk_size_gb":{"type":"number","maximum":1000.0,"minimum":0.1,"title":"Disk Size Gb","description":"Disk size in GB","default":10.0},"gpu_count":{"type":"integer","maximum":8.0,"minimum":0.0,"title":"Gpu Count","description":"Number of GPUs","default":0},"network_access":{"type":"boolean","title":"Network Access","description":"Allow outbound internet access (enabled by default)","default":true},"timeout_minutes":{"type":"integer","maximum":1440.0,"minimum":1.0,"title":"Timeout Minutes","description":"Max execution time in minutes","default":60},"environment_vars":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object"},{"type":"null"}],"title":"Environment Vars","description":"Environment variables"},"secrets":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object"},{"type":"null"}],"title":"Secrets","description":"Sensitive environment variables"},"labels":{"items":{"type":"string"},"type":"array","title":"Labels","description":"Tags/labels for the sandbox"},"team_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Team Id","description":"Team ID for team sandboxes"},"advanced_configs":{"anyOf":[{"$ref":"#/components/schemas/AdvancedConfigs"},{"type":"null"}],"description":"Advanced configuration options"},"registry_credentials_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Registry Credentials Id","description":"Registry credentials ID for pulling private images"}},"type":"object","required":["name","docker_image"],"title":"CreateSandboxRequest"},"CreateTunnelRequest":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":64,"minLength":1},{"type":"null"}],"title":"Name","description":"Optional friendly name for the tunnel"},"local_port":{"type":"integer","maximum":65535.0,"minimum":1.0,"title":"Local Port","description":"Local port the tunnel will forward traffic to","default":8765},"teamId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Teamid","description":"Team ID for team tunnels"}},"type":"object","title":"CreateTunnelRequest","description":"Request to create a new tunnel."},"Currency":{"type":"string","enum":["USD","EUR"],"title":"Currency"},"CustomSpecValue":{"properties":{"minCount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Mincount","description":"Minimum count for this specification.","examples":[2]},"defaultCount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Defaultcount","description":"Default count for the specification.","examples":[8]},"maxCount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Maxcount","description":"Maximum allowable count for this specification.","examples":[24]},"pricePerUnit":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Priceperunit","description":"Price per unit per hr.","examples":[0.005]},"step":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Step","description":"Increment step for adjusting the count (e.g., increments by 1 or 10).","examples":[2]},"defaultIncludedInPrice":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Defaultincludedinprice","description":"Indicates if the default count is included in the base price.","examples":[false]},"additionalInfo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Additionalinfo","description":"Any additional information or notes regarding this specification.","examples":[null,"This price is charged even for stopped instance"]}},"type":"object","title":"CustomSpecValue"},"DeleteImageResponse":{"properties":{"success":{"type":"boolean","title":"Success","description":"Whether the deletion was successful"},"message":{"type":"string","title":"Message","description":"Status message describing the result"}},"type":"object","required":["success","message"],"title":"DeleteImageResponse","description":"Response model for deleting an image."},"DeleteSandboxResponse":{"properties":{"success":{"type":"boolean","title":"Success"},"message":{"type":"string","title":"Message"}},"type":"object","required":["success","message"],"title":"DeleteSandboxResponse"},"DeleteTunnelResponse":{"properties":{"success":{"type":"boolean","title":"Success","description":"Whether deletion succeeded"},"message":{"type":"string","title":"Message","description":"Status message"}},"type":"object","required":["success","message"],"title":"DeleteTunnelResponse","description":"Response for tunnel deletion."},"DiskAvailability":{"properties":{"cloudId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cloudid","description":"Cloud ID, used for provisioning"},"provider":{"$ref":"#/components/schemas/ProviderTypeEnum","description":"Provider's ID"},"dataCenter":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Datacenter","description":"Location of the data center housing the disk."},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country","description":"Country where the data center is located."},"region":{"anyOf":[{"$ref":"#/components/schemas/Regions"},{"type":"null"}],"description":"Region where the disk is located."},"spec":{"$ref":"#/components/schemas/CustomSpecValue","description":"Configurable shared disk size in GB and price per GB per hour.","default":{}},"stockStatus":{"type":"string","enum":["Available","Low","Medium","High","Unavailable"],"title":"Stockstatus","description":"Current stock availability status of disks.","default":"Available"},"security":{"$ref":"#/components/schemas/SecurityType","description":"Disk security classification (e.g., secure_cloud or community_cloud)."},"isMultinode":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Ismultinode","description":"Indicates if the disk can be used with multiple instances.","default":true}},"type":"object","required":["provider","security"],"title":"DiskAvailability"},"DiskAvailabilityResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/DiskAvailability"},"type":"array","title":"Items","description":"List of available disk configurations"},"totalCount":{"type":"integer","title":"Totalcount","description":"Total number of matching disk configurations"}},"type":"object","required":["items","totalCount"],"title":"DiskAvailabilityResponse"},"DiskStatusEnum":{"type":"string","enum":["PROVISIONING","PENDING","ACTIVE","STOPPED","ERROR","DELETING","UNKNOWN","TERMINATED"],"title":"DiskStatusEnum"},"DockerImageCheckRequest":{"properties":{"image":{"type":"string","title":"Image"},"registry_credentials_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Registry Credentials Id"}},"type":"object","required":["image"],"title":"DockerImageCheckRequest"},"EnvVar":{"properties":{"key":{"type":"string","title":"Key","description":"Environment variable key"},"value":{"type":"string","title":"Value","description":"Environment variable value"}},"type":"object","required":["key","value"],"title":"EnvVar"},"EnvironmentReference":{"properties":{"id":{"type":"string","title":"Id"},"version_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Version Id"}},"type":"object","required":["id"],"title":"EnvironmentReference","description":"Environment reference with optional version"},"EnvironmentTypeEnum":{"type":"string","enum":["ubuntu_22_cuda_12","cuda_12_1_pytorch_2_2","cuda_11_8_pytorch_2_1","cuda_12_1_pytorch_2_3","cuda_12_1_pytorch_2_4","cuda_12_4_pytorch_2_4","cuda_12_4_pytorch_2_5","cuda_12_4_pytorch_2_6","cuda_12_6_pytorch_2_7","stable_diffusion","axolotl","bittensor","hivemind","petals_llama","vllm_llama_8b","vllm_llama_70b","vllm_llama_405b","custom_template","flux","prime_rl"],"title":"EnvironmentTypeEnum"},"ErrorDetail":{"properties":{"param":{"type":"string","title":"Param"},"details":{"type":"string","title":"Details"}},"type":"object","required":["param","details"],"title":"ErrorDetail"},"ErrorResponse":{"properties":{"errors":{"items":{"$ref":"#/components/schemas/ErrorDetail"},"type":"array","title":"Errors"}},"type":"object","required":["errors"],"title":"ErrorResponse"},"EvaluationSample":{"properties":{"example_id":{"type":"integer","title":"Example Id","description":"Example ID"},"reward":{"type":"number","title":"Reward","description":"Total reward value"},"task":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Task","description":"Task name"},"answer":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Answer","description":"Answer/output"},"prompt":{"anyOf":[{"items":{"$ref":"#/components/schemas/Message"},"type":"array"},{"type":"null"}],"title":"Prompt","description":"Prompt messages"},"completion":{"anyOf":[{"items":{"$ref":"#/components/schemas/Message"},"type":"array"},{"type":"null"}],"title":"Completion","description":"Completion messages"},"score":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Score","description":"Score value"},"correct":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Correct","description":"Whether answer is correct"},"num_steps":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Num Steps","description":"Number of steps taken"},"total_time":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Time","description":"Total time in seconds"},"latency_ms":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Latency Ms","description":"Latency in milliseconds"},"rollout_number":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Rollout Number","description":"Rollout number for grouped samples"},"info":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Info","description":"Auxiliary data (e.g., test cases, tool definitions)"}},"additionalProperties":true,"type":"object","required":["example_id","reward"],"title":"EvaluationSample","description":"Evaluation sample schema.\n\nSupports both standard fields and dynamic reward function fields.\nAny additional numeric fields matching reward patterns (e.g., *_reward_func, *_score, etc.)\nwill be preserved and used for rubric computation."},"EvaluationStatus":{"type":"string","enum":["PENDING","RUNNING","PROCESSING","COMPLETED","FAILED","TIMEOUT","CANCELLED"],"title":"EvaluationStatus","description":"Evaluation status enum"},"EvaluationType":{"type":"string","enum":["suite","training","environment"],"title":"EvaluationType","description":"Evaluation type enum"},"ExposePortRequest":{"properties":{"port":{"type":"integer","maximum":9000.0,"minimum":22.0,"title":"Port","description":"Port number to expose (22-9000)"},"name":{"anyOf":[{"type":"string","maxLength":50},{"type":"null"}],"title":"Name","description":"Optional human-readable name for the exposure"},"protocol":{"type":"string","title":"Protocol","description":"Protocol (HTTP or TCP)","default":"HTTP"}},"type":"object","required":["port"],"title":"ExposePortRequest"},"ExposePortResponse":{"properties":{"exposure_id":{"type":"string","title":"Exposure Id"},"sandbox_id":{"type":"string","title":"Sandbox Id"},"port":{"type":"integer","title":"Port"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"protocol":{"type":"string","title":"Protocol"},"url":{"type":"string","title":"Url","description":"Public URL for accessing the exposed port"},"tls_socket":{"type":"string","title":"Tls Socket"},"external_port":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"External Port","description":"External port for TCP exposures (not applicable for HTTP)"},"external_endpoint":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"External Endpoint","description":"External endpoint (host:port) for TCP/UDP exposures (not applicable for HTTP)"}},"type":"object","required":["exposure_id","sandbox_id","port","protocol","url","tls_socket"],"title":"ExposePortResponse"},"ExposedPortInfo":{"properties":{"exposure_id":{"type":"string","title":"Exposure Id"},"sandbox_id":{"type":"string","title":"Sandbox Id"},"port":{"type":"integer","title":"Port"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"protocol":{"anyOf":[{"type":"string"},{"type":"null"}],
[...]
